//BACKGROUND-COLOR

$-bg-white: #ffffff;
$-bg-green: rgba(104, 183, 56, 0.85);
$-basic-green: #68b738;
$-basic-green-hover: #5eaa2f;

// COLOR
$-color-white: #ffffff;
$-color-black: #000000;
$-color-dark-grey: #444444;
$-color-catalog-gray: #000000;
