//РАЗБЕРИСЬ С ЦВЕТАМИ!!!

//BACKGROUND-COLOR
$-bg-white: #ffffff;
$-bg-green: rgba(104, 183, 56, 0.85);
$-basic-green: #68b738;
$-basic-green-hover: #5eaa2f;
$-basic-red: #ff1831;
$-basic-grey: #f2f2f2;
$-special-bg-green: #62a63a;
$-border-dark-grey: #d9d9d9;
$-border-light-grey: #ebebeb;
$-dark-grey: #666666;

// COLOR
$-color-white: #ffffff;
$-color-black: #000000;
$-color-dark-grey: #444444;

//BORDER
$-add-light-telegraph: #cdcdcd;

// VIEWPORTS
$-tablet-width: 768px;
$-desktop-width: 1440px;
$-mobile-width-only: 767px;
