//BACKGROUND-COLOR
$-bg-white: #ffffff;
$-bg-green: rgba(104, 183, 56, 0.85);
$-basic-green: #68b738;
$-basic-green-hover: #5eaa2f;
$-basic-red: #ff1831;
$-basic-grey: #f2f2f2;
$-special-bg-green: #62a63a;
$-dark-grey: #666666;
$-dark-yellow-green: #63a73c;
$-after-yellow-green: #62a53a;
$-smoky-white: #eaeaea;
$-very-light-green: #9ecc82;

// COLOR
$-color-white: #ffffff;
$-color-black: #000000;
$-color-dark-grey: #444444;
$-shiny-yellowish-green: #8ec36d;

//BORDER
$-add-light-telegraph: #cdcdcd;
$-border-dark-grey: #d9d9d9;
$-border-light-grey: #ebebeb;
$-special-dark-grey: #e7e7e7;

// VIEWPORTS
$-tablet-width: 768px;
$-desktop-width: 1440px;
$-mobile-width-only: 767px;

//BOX-SHADOW & border
$-gainsborough: #e6e6e6;
$-rich-pink: #ff8282;
