.add__title {
  margin-bottom: 34px;
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $-color-black;
  background-color: $-bg-white;
  text-transform: none;
  z-index: 1;

  @media (min-width: $-tablet-width) {
    margin-bottom: 57px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }
}

.add__label {
  position: relative;
  margin-bottom: 25px;
  padding: 0;

  @media (min-width: $-tablet-width) {
    width: 345px;
    margin-bottom: 52px;
    padding-left: 40px;
  }

  @media (min-width: $-desktop-width) {
    width: 340px;
  }
}

.add__input {
  appearance: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 20px;
  top: 3px;
  background-color: $-color-white;
  border: 1px solid $-add-light-telegraph;
  vertical-align: text-bottom;

  @media (min-width: $-tablet-width) {
    margin-left: 0;
  }
}

.add__input::before {
  content: "";
  position: absolute;
  margin: auto;
  inset: 0 4px 0 0;
  overflow: hidden;
}

.add__input:checked::before {
  width: 10px;
  height: 18px;
  border-right: 2px solid $-basic-green;
  border-bottom: 2px solid $-basic-green;
  transform: rotate(41deg) translateY(-20%) translateX(-10%);
}
