.additional-product-card__name {
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $-color-black;
  text-transform: uppercase;
}

.additional-product-card__properties {
  font-family: "Lato", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $-color-dark-grey;
}

.additional-product-card__property {
  display: flex;
  justify-content: space-between;
}

.additional-product-card__button {
  width: 280px;
  min-height: 40px;
}

@media (min-width: $-tablet-width) {
  .additional-product-card__button {
    width: 632px;
    min-height: 40px;
  }
}
