.button {
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $-color-white;
  background-color: $-basic-green;
  text-transform: uppercase;
  border: none;
}
