.catalog {
  background-color: $-bg-white;
}

.catalog__title {
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $-color-black;
}

@media (min-width: $-tablet-width) {
  .catalog__list {
    display: grid;
    width: 708px;
    gap: 20px;
    grid-template-columns: repeat(2, 324px);
  }
}

@media (min-width: $-tablet-width) {
  .catalog__item {
    width: 708px;
    min-height: 511px;
  }
}
