.catalog {
  background-color: $-bg-white;
}

.catalog__wrapper {
  width: 320px;
  min-height: 100%;
  margin: 0 auto;

  @media (min-width: $-tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $-desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.catalog__title {
  margin: 0;
  padding: 27px 41px 41px 20px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $-color-black;
  border-bottom: 1px solid $-border-light-grey;

  @media (min-width: $-tablet-width) {
    margin-bottom: 68px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }

  @media (min-width: $-desktop-width) {
    margin-top: 10px;
    margin-bottom: 67px;
  }
}

.catalog__list {
  display: grid;
  margin-top: 0;
  padding: 0;
  grid-template-columns: 320px;
  list-style: none;

  @media (min-width: $-tablet-width) {
    gap: 45px 60px;
    grid-template-columns: repeat(auto-fill, 324px);
    justify-content: center;
  }

  @media (min-width: $-desktop-width) {
    gap: 49px 80px;
    grid-template-columns: repeat(auto-fill, 245px);
  }
}

.catalog__item {
  display: grid;
  min-height: 209px;
  padding: 20px 20px 25px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  border-bottom: 1px solid $-border-light-grey;
}

@media (min-width: $-tablet-width) {
  .catalog__item {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 324px;
    min-height: 430px;
    margin-top: 96px;
    background-color: #f2f2f2;
    border: none;
  }
}

@media (min-width: $-desktop-width) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    width: 245px;
    border: none;
  }
}

@media (max-width: $-mobile-width-only) {
  .catalog__item-image {
    margin-bottom: 11px;
  }
}

.catalog__item--more {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 207px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../../icons/plus.svg");
    top: 24px;
    right: 144px;
  }

  @media (min-width: $-tablet-width) {
    background-color: transparent;
    border: 1px solid #f2f2f2;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      background-image: url("../../icons/plus.svg");
      top: 50px;
      right: 131px;
    }
  }

  @media (min-width: $-desktop-width) {
    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      background-image: url("../../icons/plus.svg");
      top: 50px;
      right: 91px;
    }
  }
}
