.catalog {
  background-color: $-bg-white;
}

.catalog__wrapper {
  width: 320px;
  min-height: 100%;
  margin: 0 auto;
}

@media (min-width: $-tablet-width) {
  .catalog__wrapper {
    width: 100%;
  }
}

@media (min-width: $-desktop-width) {
  .catalog__wrapper {
    width: 1220px;
  }
}

.catalog__title {
  padding-left: 20px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $-color-black;
}

@media (min-width: $-tablet-width) {
  .catalog__title {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1072px) {
  .catalog__title {
    width: 1072px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .catalog__title {
    width: 1220px;
    margin: 0 auto;
  }
}

.catalog__list {
  display: grid;
  padding: 0;
  grid-template-columns: 320px;
  list-style: none;
}

@media (min-width: $-tablet-width) {
  .catalog__list {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fill, 324px);
    justify-content: center;
  }
}

@media (min-width: $-desktop-width) {
  .catalog__list {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(auto-fill, 245px);
    justify-content: center;
  }
}

.catalog__item {
  display: grid;
  padding: 5px 20px 23px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
}

@media (min-width: $-tablet-width) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    width: 322px;
    min-height: 511px;
    padding-left: 10px;
  }
}

@media (min-width: $-desktop-width) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    width: 245px;
    min-height: 511px;
    padding-left: 10px;
  }
}
