.comment__text {
  margin: 36px 20px 0;
  padding: 14px 10px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid $-special-dark-grey;

  @media (min-width: $-tablet-width) {
    width: 628px;
    margin-top: 86px;
    margin-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $-desktop-width) {
    width: 1220px;
    margin-right: 110px;
    margin-left: 110px;
  }
}

.comment__story {
  display: block;
  position: relative;
  width: 161px;
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $-color-black;
  background-color: $-bg-white;
  text-transform: none;
  z-index: 1;

  @media (min-width: $-tablet-width) {
    width: 262px;
    margin-left: 30px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }
}
