
.contacts {
  position: relative;

  @media (min-width: $-tablet-width) {
    width: 768px;
    min-height: 600px;
    margin: 0 auto;
  }

  @media (min-width: $-desktop-width) {
    width: 1440px;
    min-height: 600px;
    margin: 0 auto;
  }
}

.contacts--catalog {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  display: flex;
  width: 280px;
  min-height: 112px;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;

  @media (min-width: $-tablet-width) {
    width: 768px;
    min-height: 200px;
    padding: 0 70px;
    align-items: center;
  }
}

.contacts__wrapper-catalog {
  background-color: #f2f2f2;
}

.contacts__invite {
  width: 140px;
  min-height: 60px;
  padding: 26px 0;
  margin: 0;
  font-family: "Oswald", "Arilal", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $-color-black;
  text-align: start;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  min-height: 60px;
  padding: 26px 0;
  margin: 0;
  font-family: "Lato", "Arilal", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $-color-black;
  text-align: start;
}

.contacts__map {
  width: 100%;
  height: 362px;
  vertical-align: bottom;
}

@media (min-width: $-tablet-width) {
  .contacts__map {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: $-desktop-width) {
  .contacts__map {
    width: 1440px;
    height: 400px;
  }
}
