
.description__wrapper {
  display: grid;
  position: relative;
  margin: 0 auto;
  background-image: url("../../images/cat-promomob@1x.png"), linear-gradient(to right, #63a73c 50%, #62a53a 50%);
  background-repeat: no-repeat;
  background-size: 320px 302px, 100% 302px;
  background-position: center top;

  @media (min-width: $-tablet-width) {
    display: grid;
    width: 709px;
    min-height: 36px;
    padding-left: 12px;
    margin: 0 auto;
    background-color: $-bg-white;
    background-image: none;
  }

  @media (min-width: $-desktop-width) {
    display: grid;
    min-width: 1086px;
    grid-template-columns: 40% 43%;
    background-color: transparent;
    z-index: 1;
  }
}

.description__title {
  width: 320px;
  padding: 27px 35px 25px;
  margin: 0 auto;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $-color-white;
  text-align: center;

  @media (min-width: $-tablet-width) {
    width: 436px;
    padding: 9px;
    margin-bottom: 30px;
    margin-left: 69px;
    font-family: "Oswald", "Arilal", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    color: $-color-black;
  }

  @media (min-width: $-desktop-width) {
    width: 426px;
    min-height: 120px;
    grid-column: 1;
    grid-row: 1;
    margin: 8px 0 0;
    padding-left: 0;
    align-self: self-end;
    z-index: 1;
  }
}

.description__slogan {
  padding: 0 62px 0 60px;
  margin: 0 auto;
  font-family: "Oswald", "Arilal", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $-color-white;
  text-transform: uppercase;

  @media (min-width: $-tablet-width) {
    padding: 0;
    margin: 0 0 50px 78px;
    font-family: "Oswald", "Arilal", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: $-color-black;
    text-transform: uppercase;
  }

  @media (min-width: $-desktop-width) {
    width: 293px;
    min-height: 20px;
    grid-column: 1;
    grid-row: 2;
    margin: 20px 0 0;
    padding: 10px 10px 10px 0;
  }
}

.description__program-selection {
  display: block;
  width: 280px;
  height: 40px;
  padding: 10px 44px;
  margin: 0 auto 20px;
  background-color: $-basic-green;
  font-family: "Oswald", "Arilal", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $-color-white;
  text-transform: uppercase;
  text-align: center;
  order: 1;

  @media (min-width: $-tablet-width) {
    width: 244px;
    height: 54px;
    margin: 0 0 0 78px;
    padding: 12px 0;
    font-size: 20px;
    line-height: 26px;
    order: 0;
    z-index: 1;
  }

  @media (min-width: $-desktop-width) {
    grid-column: 1;
    grid-row: 3;
    margin: 0;
  }
}

.description__program-selection:hover {
  background-color: $-basic-green-hover;
}

.description__program-selection:active {
  color: $-color-dark-grey;
}

@media (min-width: $-tablet-width) {
  .description__program-selection {
    order: 0;
  }
}

.description__image-picture {
  display: contents;
}

.description__image-product {
  display: block;
  width: 280px;
  height: 270px;
  margin: 29px auto 3px;

  @media (min-width: $-tablet-width) {
    width: 709px;
    height: 609px;
    margin: -83px 0 0 -12px;
  }

  @media (min-width: $-desktop-width) {
    grid-column: 2;
    grid-row: 1/ span 5;
    width: 552px;
    height: 499px;
    margin: -19px 0 0 -59px;
  }
}
