.element__name {
  display: flex;
  margin: 0 0 14px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $-desktop-width) {
    justify-content: start;
  }
}

.element__input {
  width: 100%;
  margin-left: 13px;
  padding: 0;
  height: 40px;
  border: 1px solid $-special-dark-grey;

  &:hover {
    border: 1px solid $-add-light-telegraph;
  }

  &:focus {
    border-color: $-color-black;
    outline: none;
    box-shadow: 0 0 5px $-color-black;
  }

  &.error {
    border-color: $-basic-red;
    box-shadow: 0 0 5px $-basic-red;
  }

  @media (min-width: $-desktop-width) {
    height: 52px;
  }
}
