.element__name {
  display: flex;
  margin: 0 0 14px;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  white-space: nowrap;
}

.element__input {
  width: 100%;
  margin-left: 13px;
  padding: 0;
  height: 40px;
  border: 1px solid $-special-dark-grey;
}
