.group {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $-color-dark-grey;
  text-transform: uppercase;

  @media (min-width: $-tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $-desktop-width) {
    display: flex;
    flex-flow: row wrap;
  }
}

.group__element {
  margin: 0;
  padding: 0 20px;
  border: none;

  @media (min-width: $-tablet-width) {
    padding: 0 70px;
    margin-bottom: 52px;
  }

  @media (min-width: $-desktop-width) {
    width: 52.9%;
    padding: 0 80px 0 110px;
  }
}

.group__radio {
  display: grid;
  margin: 0 0 6px;
  padding: 20px 20px 5px 0;
  border: none;
  border-width: 1px 0; /* 1px для верхней и нижней границы, 0 для левой и правой */
  border-style: solid;
  border-color: $-special-dark-grey;

  @media (min-width: $-tablet-width) {
    margin: 0 70px 65px;
    padding-left: 3px;
    border: 1px solid $-special-dark-grey;
  }

  @media (min-width: $-desktop-width) {
    width: 570px;
    margin-left: 0;
  }
}

.group__data {
  position: relative;
  margin: 0 0 14px;
  padding: 0;
  border: none;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    top: -70px;
    left: 0;
    right: 0;
    background-color: $-basic-green;
    transform: translateY(-50%);
    z-index: 0;
  }

  @media (min-width: $-tablet-width) {
    margin-bottom: 56px;

    &::before {
      top: -92px;
    }
  }

  @media (min-width: $-desktop-width) {
    display: inline-flex;
    width: 100%;
  }
}

.group__comment {
  position: relative;
  margin: 0 0 23px;
  padding: 0;
  border: none;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    top: 17px;
    left: 0;
    right: 0;
    background-color: $-basic-green;
    transform: translateY(-50%);
    z-index: 0;
  }

  @media (min-width: $-tablet-width) {
    margin-bottom: 65px;

    &::before {
      top: 20px;
    }
  }

  @media (min-width: $-desktop-width) {
    width: 100%;
  }
}

.group__add {
  display: grid;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    top: -43px;
    left: 0;
    right: 0;
    background-color: $-basic-green;
    transform: translateY(-50%);
    z-index: 0;
  }

  @media (min-width: $-tablet-width) {
    display: flex;
    flex-flow: row wrap;
    padding: 0 30px;

    &::before {
      top: -67px;
    }
  }

  @media (min-width: $-desktop-width) {
    width: 100%;
    padding: 0 80px;
  }
}
