.group {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $-color-dark-grey;
  text-transform: uppercase;
}

.group__element {
  margin: 0;
  padding: 0 20px;
  border: none;

  @media (min-width: $-tablet-width) {
    padding: 0;
  }
}

.group__radio {
  display: grid;
  margin: 0 0 26px;
  padding: 20px 20px 5px 0;
  border: 1px solid $-special-dark-grey;

  @media (min-width: $-tablet-width) {
    width: 628px;
    margin-bottom: 65px;
  }
}

.group__data {
  margin: 0;
  padding: 0 20px;
  border: none;
}
