.main-header {
  background-color: $-bg-white;
}

.main-header__main-nav {
  display: none;
}

@media (min-width: $-tablet-width) {
  .main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
  }
}

@media (min-width: $-desktop-width) {
  .main-header {
    display: flex;
    width: 1252px;
    min-height: 162px;
    margin: 0 auto;
  }
}


@media (min-width: $-desktop-width) {
  .main-header::after {
    content: "";
    position: absolute;
    width: 720px;
    height: 694px;
    background-image: url("../../images/cat-greenbgdesk@1x.png");
    left: 50%;
    top: 0;
  }
}

@media (min-width: $-desktop-width) {
  .main-header--catalog::after {
    display: none;
    content: "";
    position: absolute;
    width: 720px;
    height: 694px;
    background-image: url("../../images/cat-greenbgdesk@1x.png");
    left: 50%;
    top: 0;
  }
}

.main-header__wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 65px;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $-tablet-width) {
  .main-header__wrapper {
    display: flex;
    width: 708px;
    margin-bottom: 37px;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    border: none;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: $-desktop-width) {
  .main-header__wrapper {
    width: 1220px;
    min-height: 162px;
    justify-content: space-between;
  }
}

.main-header__picture {
  display: flex;
  width: 190px;
  height: 67px;
  margin-left: 20px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $-tablet-width) {
    width: 174px;
    margin: 0;
  }
}

.main-header__link:hover {
  opacity: 0.6;
}

.main-header__link:active {
  opacity: 0.4;
}

//.main-header__toggle {
//  position: absolute;
//  width: 24px;
//  height: 24px;
//  right: 0;
//  background-color: $-bg-white;
//  background-image: url("../../icons/stack.svg#gamburger");
//  background-repeat: no-repeat;
//  border: none;
//}
