.main-footer {
  background-color: $-basic-grey;
}

.main-footer__wrapper {
  @media (min-width: $-tablet-width) {
    display: flex;
    width: 100%;
    min-height: 147px;
    margin: 0 auto;
    align-items: center;
  }
}

.main-footer__link {
  display: flex;
  width: 128px;
  margin: 20px auto;
}

.main-footer__copyright {
  display: flex;
  position: relative;
  width: 280px;
  min-height: 94px;
  margin: 0 auto;
  padding-top: 24px;
  color: $-color-dark-grey;
}

.main-footer__copyright::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 34px;
  top: 20px;
  right: 0;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#htmlacademy");
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
}

.main-footer__copyright:hover.main-footer__copyright::after {
  background-color: $-basic-green-hover;
}

.main-footer__copyright:active {
  opacity: 0.5;
}
