.main-header {
  background-color: $-bg-white;
}

@media (min-width: $-tablet-width) {
  .main-header {
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
  }

  @media (min-width: $-desktop-width) {
    .main-header {
      display: flex;
      width: 1252px;
      min-height: 162px;
      margin: 0 auto;
    }
  }
}

.main-header__wrapper {
  position: relative;
  display: flex;
  width: 280px;
  height: 65px;
  margin: 0 auto;
  align-items: center;
}

@media (min-width: $-tablet-width) {
  .main-header__wrapper {
    display: flex;
    width: 704px;
    min-height: 100px;
    padding: 14 16 10;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: $-desktop-width) {
  .main-header__wrapper {
    min-height: 162px;
    justify-content: flex-start;
  }
}

.main-header__logo {
  margin-right: 13px;
}

.main-header__link:hover {
  opacity: 0.6;
}

.main-header__link:active {
  opacity: 0.4;
}

.main-header__toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  background-color: $-bg-white;
  background-image: url("../../icons/stack.svg#gamburger");
  background-repeat: no-repeat;
  border: none;
}
