.main-header {
  background-color: $-bg-white;

  @media (min-width: $-tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
  }

  @media (min-width: $-desktop-width) {
    min-height: 696px;
    margin-bottom: 80px;
  }
}

.main-header__main-nav {
  position: absolute;
  display: none;
  width: 100%;
  background-color: $-bg-white;
  z-index: 1;
}

.main-header--opened .main-header__main-nav {
  display: block;
}

.main-header--no-js .main-header__main-nav {
  position: static;
  display: block;
}

.main-header__toggle {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  background-color: $-color-black;
  mask-image: url("../../icons/stack.svg#gamburger");
  mask-repeat: no-repeat;
  border: none;
  cursor: pointer;

  @media (min-width: $-tablet-width) {
    display: none;
  }
}

.main-header__toggle:hover,
.main-header__toggle:focus {
  background-color: $-basic-green;
}

.main-header--opened .main-header__toggle {
  width: 18px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#cross-close");
  z-index: 2;
}

.main-header--no-js .main-header__toggle {
  display: none;
}

@media (min-width: $-tablet-width) {
  .main-header--catalog {
    min-height: 0;
    margin-bottom: 8px;
  }
}

@media (min-width: $-desktop-width) {
  .main-header--catalog {
    margin-bottom: 16px;
  }
}

@media (min-width: $-desktop-width) {
  .main-header--index {
    background-image: url("../../images/cat-full-green@2x.png"), linear-gradient(90deg, $-bg-white 50%, $-after-yellow-green 50%);
    background-size: 1041px 695px, 100%;
    background-position: calc(50% + 520px) center, center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $-tablet-width) {
  .main-header--selection {
    min-height: 0;
    margin-bottom: 8px;
  }
}

.main-header__wrapper {
  position: relative;
  display: block;
  width: 100%;
  min-height: 66px;
  margin: 0 auto;

  @media (min-width: $-tablet-width) {
    display: flex;
    width: 700px;
    margin-bottom: 33px;
    min-height: 100px;
    align-items: center;
    border: none;
  }

  @media (min-width: $-desktop-width) {
    width: 1220px;
    min-height: 60px;
    margin: 55px auto 43px;
    justify-content: space-between;
  }
}

.main-header__picture {
  display: flex;
  position: relative;
  width: 280px;
  height: 67px;
  margin: 0 auto;
  padding: 5px 90px 0 0;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $-tablet-width) {
    width: 190px;
    height: 67px;
    margin: 0 94px 0 0;
    padding: 0;
  }
}

@media (min-width: $-desktop-width) {
  .main-header__logo--text {
    margin-left: 14px;
  }
}

.main-header__link:hover {
  opacity: 0.6;
}

.main-header__link:active {
  opacity: 0.4;
}
