.main-nav {
  background-color: $-bg-white;
}

@media (min-width: $-tablet-width) {
  .main-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media (min-width: $-desktop-width) {
  .main-nav {
    background-color: transparent;
    z-index: 3;
  }
}

.main-nav__wrapper {
  padding-left: 20px;
  text-align: center;
}

.main-nav__list {
  display: none;
  padding: 0;
}

@media (min-width: $-tablet-width) {
  .main-nav__list {
    display: flex;
    padding-left: 12px;
    list-style: none;
  }
}

.main-nav__page {
  font-family: "Oswald", "Arial", sans-serif;
  color: $-color-black;
  text-transform: uppercase;
}

@media (min-width: $-tablet-width) {
  .main-nav__page {
    padding: 6px 16px;
  }
}

@media (min-width: $-desktop-width) {
  .main-nav__page {
    padding: 6px 16px;
    color: $-color-white;
  }
}

@media (min-width: $-desktop-width) {
  .main-nav__page--catalog {
    padding: 6px 16px;
    color: $-color-black;
  }
}
