.page__body {
  display: grid;
  width: 100%;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  background-color: $-bg-white;
}

@media (min-width: $-tablet-width) {
  .page__body {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: $-desktop-width) {
  .page__body {
    width: 100%;
    margin: 0 auto;
  }
}
