.promo__header {
  position: relative;
  background-image: url("../../images/cat-promomob@1x.png"), linear-gradient(to right, #63a73c 50%, #62a53a 50%);
  background-repeat: no-repeat;
  background-size: 320px 302px, 100% 61.4%;
  background-position: center top;
}

@media (min-width: $-tablet-width) {
  .promo__header {
    display: flex;
    flex-wrap: wrap;
    width: 436px;
    min-height: 36px;
    padding-left: 12px;
    background-color: $-bg-white;
    background-image: none;
    justify-content: flex-start;
  }
}

.promo__wrapper-bg-cat {
  display: grid;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: $-desktop-width) {
  .promo__wrapper-bg-cat {
    display: flex;
    flex-wrap: wrap;
    width: 436px;
    min-height: 560px;
    padding-left: 12px;
    background-color: $-bg-white;
    background-image: none;
    justify-content: flex-start;
  }
}

@media (min-width: $-desktop-width) {
  .promo__wrapper::after {
    content: "";
    position: absolute;
    width: 720px;
    height: 694px;
    background-image: url("../../images/cat-greenbgdesk@1x.png");
    left: 50%;
    top: 0;
  }
}

.promo__title {
  padding: 27px 35px 25px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $-color-white;
  text-align: center;
  margin-bottom: 0;
}

@media (min-width: $-tablet-width) {
  .promo__title {
    width: 436px;
    padding: 10px;
    margin-left: 110px;
    font-family: "Oswald", "Arilal", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    color: $-color-black;
  }
}

.promo__slogan {
  padding: 0 62px 0 60px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $-color-white;
  text-transform: uppercase;
}

@media (min-width: $-tablet-width) {
  .promo__slogan {
    padding: 0;
    font-family: "Oswald", "Arilal", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: $-color-black;
    text-transform: uppercase;
  }
}

.promo__program-selection {
  display: block;
  width: 280px;
  height: 40px;
  padding: 13px 44px;
  margin: 0 auto;
  background-color: $-basic-green;
  font-family: "Oswald", "Arilal", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $-color-white;
  text-transform: uppercase;
  text-align: center;
  order: 1;
}

.promo__program-selection:hover {
  background-color: $-basic-green-hover;
}

.promo__program-selection:active {
  color: $-color-dark-grey;
}


@media (min-width: $-tablet-width) {
  .promo__program-selection {
    order: 0;
  }
}

@media (min-width: $-desktop-width) {
  .promo__image-product {
    position: absolute;
    z-index: 4;
    top: 12%;
  }
}

.promo__list {
  padding: 0;
  list-style: none;
}

@media (min-width: $-desktop-width) {
  .promo__list {
    display: flex;
  }
}

.promo__item-title {
  min-width: 110px;
  min-height: 37px;
  padding: 30px 30px 29px 20px;
  margin: 0;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $-color-black;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $-tablet-width) {
  .promo__item-title {
    text-align: left;
  }
}

.promo__item {
  position: relative;
  width: 288px;
  min-height: 266px;
  margin: 0 auto 20px;
  background-color: $-basic-grey;
}

@media (min-width: $-tablet-width) {
  .promo__item {
    width: 708px;
    min-height: 372px;
  }
}

.promo__item-slim::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 53px;
  top: 24px;
  left: 20px;
  bottom: 22px;
  background-image: url("../../icons/stack.svg#cat-slim-component");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: $-tablet-width) {
  .promo__item-slim::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 24px;
    right: 20px;
    bottom: 22px;
    background-image: url("../../icons/stack.svg#cat-slim-component");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: $-tablet-width) {
  .promo__item-slim::before {
    display: none;
  }
}

.promo__item-pro {
  .promo__item-title {
    padding-left: 55px;
  }
}

.promo__item-pro::before {
  position: absolute;
  content: "";
  width: 67px;
  height: 55px;
  top: 24px;
  left: 12px;
  bottom: 22px;
  background-image: url("../../icons/stack.svg#cat-pro-component");
  background-repeat: no-repeat;
}

@media (min-width: $-tablet-width) {
  .promo__item-pro::after {
    content: "";
    position: absolute;
    width: 205px;
    height: 205px;
    top: 24px;
    right: 20px;
    bottom: 22px;
    background-image: url("../../icons/stack.svg#cat-pro-component");
    background-repeat: no-repeat;
    background-size: 205px 205px;
  }
}

@media (min-width: $-tablet-width) {
  .promo__item-pro::before {
    display: none;
  }
}

.promo__item-description {
  width: 246px;
  min-height: 90px;
  margin-left: 20px;
  font-family: "Lato", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $-color-black;
}

.promo__catalog-slim,
.promo__catalog-pro {
  position: relative;
  padding-left: 20px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $-color-black;
  text-transform: uppercase;
}

.promo__catalog-pro::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 20px;
  background-color: $-basic-grey;
  right: -22px;
  z-index: 1;
}

.promo__catalog-pro::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 107%;
  transform: translateY(-50%);
  right: 20px;
  width: 32px;
  height: 12px;
  background-image: url("../../icons/arrow.svg");
  overflow: hidden;
  transition: transform 0.3s ease;
}

.promo__catalog-pro:hover.promo__catalog-pro::after {
  transform: translate(10px, -50%);
}

.promo__catalog-pro:active {
  opacity: 0.5;
}
