.proof {
  width: 100%;
  background-color: $-basic-grey;
}

.proof__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $-tablet-width) {
  .proof__wrapper {
    width: 560px;
  }
}

.proof__title {
  padding-left: 20px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $-color-black;
}

.proof__description {
  padding-left: 20px;
  font-family: "Lato", "Arilal", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $-color-black;
}

.proof__estimate {
  display: flex;
}

.proof__list {
  padding-left: 20px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $-color-black;
}

.proof__definition {
  font-family: "Lato", "Arilal", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $-color-black;
  text-transform: lowercase;
}

.proof__cost-price {
  font-family: "Oswald", "Arilal", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $-color-black;
  text-align: center;
  text-transform: uppercase;
}

.proof__slider {
  margin: 0 auto;
}

.proof__button {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  padding: 0;
  border-radius: 2px;
  border: none;
  background-color: #666666;
  cursor: pointer;
  z-index: 4;
}

.proof__button::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.proof__button::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 18px;
  top: 50%;
  left: 50%;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#sliderarrow");
  mask-position: 50%;
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.proof__button:hover {
  background-color: $-basic-green-hover;
}

.proof__button:hover.proof__button::before {
  border: 2px solid $-basic-green-hover;
}

.proof__button:hover.proof__button::after {
  background-color: $-basic-green-hover;
}
