.proof {
  width: 100%;
  min-height: 659px;
  background-color: $-basic-grey;

  @media (min-width: $-tablet-width) {
    min-height: 1081px;
    background: linear-gradient($-bg-white 462px, #f2f2f2 462px) top no-repeat;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.proof__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $-tablet-width) {
    width: 708px;
  }
}

.proof__title {
  padding-left: 20px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $-color-black;
}

.proof__description {
  font-family: "Lato", "Arilal", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $-color-black;

  @media (min-width: $-tablet-width) {
    width: 635px;
    height: 72px;
  }
}

.proof__estimate {
  display: flex;
  flex-direction: column;

  @media (min-width: $-tablet-width) {
    align-items: center;
    justify-content: space-between;
  }
}

.proof__example {
  display: flex;
  justify-content: space-between;

  @media (min-width: $-tablet-width) {
    display: flex;
    width: 367px;
    min-height: 77px;
    justify-content: space-between;
  }
}

.proof__list {
  width: 124px;
  height: 56px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $-color-black;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
}

.proof__term {
  padding-top: 13px;
}

.proof__definition {
  width: 87px;
  padding: 0 5px;
  margin: 9px auto 0;
  background-color: #f2f2f2;
  font-family: "Lato", "Arilal", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.proof__cost-price {
  font-family: "Oswald", "Arilal", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $-color-black;
  text-align: center;
  text-transform: uppercase;
}

.proof__button {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  padding: 0;
  border-radius: 2px;
  border: none;
  background-color: #666666;
  cursor: pointer;
  z-index: 4;
}

.proof__button::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.proof__button::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 18px;
  top: 50%;
  left: 50%;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#sliderarrow");
  mask-position: 50%;
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.proof__button:hover {
  background-color: $-basic-green-hover;
}

.proof__button:hover.proof__button::before {
  border: 2px solid $-basic-green-hover;
}

.proof__button:hover.proof__button::after {
  background-color: $-basic-green-hover;
}
