.select {
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;

  @media (min-width: $-tablet-width) {
    width: 628px;
  }
}

.select__title {
  padding-left: 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $-tablet-width) {
    padding: 0;
  }
}

.select__subtitle {
  width: 246px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $-tablet-width) {
    padding: 0;
  }
}
