.select {
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
}

.select__title {
  padding-left: 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $-tablet-width) {
    margin-top: 0;
    padding-left: 70px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $-desktop-width) {
    padding-left: 110px;
  }
}

.select__subtitle {
  width: 246px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $-tablet-width) {
    width: 390px;
    margin-bottom: 66px;
    padding-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $-desktop-width) {
    padding-left: 110px;
    width: 430px;
  }
}

.select__button {
  position: relative;
  width: 280px;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 69px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: $-basic-green;
  border: none;
  color: $-color-white;
  text-transform: uppercase;

  &::after {
    content: "* — Обязательные поля";
    position: absolute;
    width: 178px;
    height: 16px;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    bottom: -37px;
    left: 48px;
    color: $-color-black;
    text-transform: none;
  }

  @media (min-width: $-tablet-width) {
    width: 284px;
    height: 54px;
    margin-left: 70px;
    font-size: 20px;
    line-height: 26px;

    &::before {
      content: "* — Обязательные поля";
      position: absolute;
      width: 178px;
      height: 16px;
      font-family: "Lato", "Arial", sans-serif;
      font-size: 14px;
      line-height: 16px;
      top: 19px;
      right: -225px;
      color: $-color-black;
      text-transform: none;
    }

    &::after {
      display: none;
      content: "* — Обязательные поля";
      position: absolute;
      width: 178px;
      height: 16px;
      font-family: "Lato", "Arial", sans-serif;
      font-size: 14px;
      line-height: 16px;
      bottom: -37px;
      left: 48px;
      color: $-color-black;
      text-transform: none;
    }
  }
}
