.slider {
  display: grid;
  width: 280px;
  height: 256px;
  margin: 0 auto;
}

@media (min-width: $-tablet-width) {
  .slider {
    width: 100%;
    min-height: 611px;
    background: linear-gradient(#ffffff 149px, #eaeaea 149px);
  }

  @media (min-width: $-desktop-width) {
    .slider {
      width: 100%;
      min-height: 512px;
      background: linear-gradient(#ffffff 149px, #f2f2f2 149px);
    }
  }
}

.slider__images {
  position: relative;
  display: grid;
  grid-template-columns: 280px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

@media (min-width: $-tablet-width) {
  .slider__images {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    grid-template-columns: 560px;
  }
}

.slider__image-wrapper {
  overflow: hidden;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.slider__image-wrapper--before {
  z-index: 3;
  background-color: #eaeaea;
}

@media (min-width: $-tablet-width) {
  .slider__image-wrapper--before {
    z-index: 3;
    background: linear-gradient(to bottom, $-color-white 149px, #eaeaea 149px);
  }

  @media (min-width: $-desktop-width) {
    .slider__image-wrapper--before {
      z-index: 3;
      background: linear-gradient(to bottom, $-color-white 149px, #f2f2f2 149px);
    }
  }
}

.slider__image-wrapper--after {
  background-color: #eaeaea;
}

@media (min-width: $-tablet-width) {
  .slider__image-wrapper--after {
    background: linear-gradient(to bottom, $-color-white 149px, #eaeaea 149px);
  }

  @media (min-width: $-desktop-width) {
    .slider__image-wrapper--after {
      background: linear-gradient(to bottom, $-color-white 149px, #f2f2f2 149px);
    }
  }
}

.slider-image {
  display: block;
}
