.slider {
  display: grid;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $-tablet-width) {
    width: 100%;
    min-height: 611px;
    background: linear-gradient($-bg-white 149px, $-smoky-white 149px);
  }

  @media (min-width: $-desktop-width) {
    min-height: 512px;
    background: linear-gradient($-bg-white 149px, $-basic-grey 149px);
    margin-left: 223px;
  }
}

.slider__images {
  position: relative;
  display: grid;
  grid-template-columns: 280px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  @media (min-width: $-tablet-width) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    grid-template-columns: 560px;
  }
}

.slider-image {
  display: block;
}

.slider__image-wrapper {
  overflow: hidden;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.slider__image-wrapper--before {
  z-index: 3;
  background-color: $-smoky-white;

  @media (min-width: $-tablet-width) {
    background: linear-gradient(to bottom, $-color-white 149px, $-smoky-white 149px);
  }

  @media (min-width: $-desktop-width) {
    background: linear-gradient(to bottom, $-color-white 149px, $-basic-grey 149px);
  }
}

.slider__image-wrapper--after {
  background-color: $-smoky-white;

  @media (min-width: $-tablet-width) {
    background: linear-gradient(to bottom, $-color-white 149px, $-smoky-white 149px);
  }

  @media (min-width: $-desktop-width) {
    background: linear-gradient(to bottom, $-color-white 149px, $-basic-grey 149px);
  }
}
