.social {
  background-color: $-bg-white;
}

.social__icon {
  fill: $-color-black;
}

.social__link:hover .social__icon {
  fill: $-basic-green;
}

.social__link:active .social__icon {
  opacity: 0.2;
  fill: $-basic-green;
}
