.social {
  background-color: $-bg-white;
}

.social__list {
  display: flex;
  width: 132px;
  height: 22px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
}

.social__icon {
  fill: $-color-black;
}

.social__link:hover .social__icon {
  fill: $-basic-green;
}

.social__link:active .social__icon {
  opacity: 0.2;
  fill: $-basic-green;
}
