.social {
  width: 280px;
  margin: 0 auto;
  background-color: $-basic-grey;
  border-top: 1px solid $-border-dark-grey;
  border-bottom: 1px solid $-border-dark-grey;

  @media (min-width: $-tablet-width) {
    width: 132px;
    border: none;
  }
}

.social__list {
  display: flex;
  width: 132px;
  min-height: 22px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 0;
  list-style: none;
}

.social__link {
  display: flex;
  width: 28px;
  height: 22px;
  background-color: $-dark-grey;
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  cursor: pointer;

  &--vkontakte {
    mask-image: url("../../icons/stack.svg#vector-vk-mask");
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#vector-youtube-mask");
  }

  &--telegram {
    mask-image: url("../../icons/stack.svg#vector-telega-mask");
  }

  &:hover {
    background-color: $-basic-green-hover;
  }

  &:focus {
    background-color: $-basic-green;
  }

  &:active {
    opacity: 0.5;
  }
}
