.work {
  width: 280px;
  min-height: 380px;
  margin: 0 auto;
}

@media (min-width: $-tablet-width) {
  .work {
    width: 708px;
    min-height: 644px;
  }
}

@media (min-width: $-desktop-width) {
  .work {
    width: 1220px;
    min-height: 400px;
  }
}

.work__title {
  padding-left: 20px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $-color-black;
}

@media (min-width: $-tablet-width) {
  .work__title {
    padding-left: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.work__list {
  padding: 0;
  list-style: none;
}

@media (min-width: $-tablet-width) {
  .work__list {
    display: grid;
    grid-template-columns: 249px 249px;
    gap: 37px 137px;
    border-bottom: 1px solid #d9d9d9;
  }
}

@media (min-width: $-desktop-width) {
  .work__list {
    display: grid;
    grid-template-columns: 249px 249px;
    gap: 37px 79px;
    border-bottom: none;
  }
}

@media (min-width: $-desktop-width) {
  .work__list {
    display: flex;
  }
}

.work__description {
  padding-left: 20px;
  margin-left: 50px;
  font-family: "Lato", "Arilal", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $-color-black;
}

@media (min-width: $-tablet-width) {
  .work__description {
    width: 245px;
    height: 72px;
    margin: auto 0;
    padding: 0;
  }
}

.work__item {
  position: relative;
}

@media (min-width: $-tablet-width) {
  .work__item {
    display: flex;
    width: 230px;
    min-height: 280px;
  }
}

.work__item--leaf::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-image: url("../../icons/group-leaf.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

@media (min-width: $-tablet-width) {
  .work__item--leaf::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
    background-image: url("../../icons/group-leaf.svg");
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }
}

.work__item--prowder::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-image: url("../../icons/group-prowder.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

@media (min-width: $-tablet-width) {
  .work__item--prowder::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
    background-image: url("../../icons/group-prowder.svg");
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }
}

.work__item--eat::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-image: url("../../icons/group-eat.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

@media (min-width: $-tablet-width) {
  .work__item--eat::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
    background-image: url("../../icons/group-eat.svg");
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }
}

.work__item--watch::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-image: url("../../icons/group-watch.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

@media (min-width: $-tablet-width) {
  .work__item--watch::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
    background-image: url("../../icons/group-watch.svg");
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }
}
