.work__title {
  padding-left: 20px;
  font-family: "Oswald", "Arilal", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $-color-black;
}

.work__description {
  padding-left: 20px;
  font-family: "Lato", "Arilal", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $-color-black;
}
